.navbar {
    background-color: #b0c5f2;
    border-bottom: solid 5px #afbcdc;
}

.nav .nav-link.active {
    background-color: #fff;
    color: #395289;
}

.nav .nav-link, .navbar-brand, .navbar-brand:hover {
    color: #395289;
}

body {
    font-family: Roboto, sans-serif;
}

.navbar-toggler {
    background-color: #8897b9;
    border: none;
}

.section-title {
    font-family: Kanit, cursive;
    font-size: 25px;
}

#sobre, #fotografias {
    background-color: #d1d7e2;
    border-bottom: solid 5px #dfe2e8;
}

.carousel-inner {
    width: 100%;
    height: 400px;
    border-bottom: solid 5px #afbcdc;
}

#eventos, #fale-comigo {
    background-color: #c2cee9;
    border-bottom: solid 5px #afbcdc;
}

#eventos img {
    height: 220px;
}

.carousel-item img {
    width: 100%;
    object-fit: cover;
}

.text-colored {
    color: #395289;
}

.fotografia{
    height: 95%;
    overflow: hidden;
}

.fotografia:hover {
    cursor: pointer; 
    opacity: 0.90;
}

.social-links li {
    list-style-type: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

#fale-comigo button {
    background-color: #fff;
    color: #395289;
}



@media (max-width:767px) {
    .navbar-collapse.collapse {
        padding-top: 10px;
    }

    .carousel-item img {
        height: 280px;
    }

    .carousel-inner {
        width: 100%;
        height: 280px;
        border-bottom: solid 5px #c2cee9;
    }

    #eventos img {
        height: 250px;
    }
}
